---
const images = await Astro.glob("/public/images/carousel/*.(png|jpg|jpeg)");
import { Image } from "@astrojs/image/components";
---

<script>
  function getLastImageID() {
    return images.length;
  }

  function getNextImageID(current: number) {
    let nextID = current + 1;
    if (nextID >= getLastImageID()) {
      return 0;
    } else {
      return nextID;
    }
  }

  function getPreviousImageID(current: number) {
    let prevID = current - 1;
    if (prevID < 0) {
      return getLastImageID() - 1;
    } else {
      return prevID;
    }
  }

  const previousButtons = document.querySelectorAll("button[id^=previous-]");
  const nextButtons = document.querySelectorAll("button[id^=next-]");
  const images = document.querySelectorAll("img[id^=carousel-item-");
  const carouselIndicators = document.querySelectorAll("button[id^=carousel-indicator-]")

  previousButtons.forEach((button, index) => {
    button.addEventListener("click", () => {
      let oldScrollPosition = window.scrollY;
      window.location.hash = "#" + getPreviousImageID(index);
      window.scrollTo(0, oldScrollPosition);
    });
  });

  nextButtons.forEach((button, index) => {
    button.addEventListener("click", () => {
      let oldScrollPosition = window.scrollY;
      window.location.hash = "#" + getNextImageID(index);
      window.scrollTo(0, oldScrollPosition);
    });
  });

  carouselIndicators.forEach((carouselIndicator, index) => {
    carouselIndicator.addEventListener("click", () => {
      let oldScrollPosition = window.scrollY;
      window.location.hash = "#" + carouselIndicator.getAttribute("image_id");
      window.scrollTo(0, oldScrollPosition);
    });
  })
</script>

<div class="flex justify-items-center justify-center">
  <div class="flex carousel w-full max-h-halfscreen sm:max-w-4xl sm:max-h-128">
    {
      images.map((image, index) => (
        <div
          id={index.toString()}
          class="carousel-item relative w-full justify-center overflow-visible"
        >
          <Image
            alt={image.default}
            src={image.default}
            id={"carousel-item-" + index}
            class="object-contain"
          />
          <div class="hidden sm:flex absolute  justify-between transform -translate-y-1/2 left-3 right-3 top-1/2">
            <button id={"previous-" + index} class="btn btn-circle">
              ❮
            </button>
            <button id={"next-" + index} class="btn btn-circle">
              ❯
            </button>
          </div>
          <div class="flex absolute z-30 h-3 space-x-3 -translate-x-1/2 bottom-1 sm:bottom-4 left-1/2 flex-nowrap">
            {images.map((image, inner_index) =>
              index == inner_index ? (
                <button
                  id={"carousel-indicator-" + inner_index.toString()}
                  class="h-3 w-3 rounded-full bg-primary drop-shadow-md"
                  aria-label={image.default}
                  image_id={inner_index}
                />
              ) : (
                <button
                  id={"carousel-indicator-" + inner_index.toString()}
                  class="h-3 w-3 rounded-full bg-secondary drop-shadow-md"
                  aria-label={image.default}
                  image_id={inner_index}
                />
              )
            )}
          </div>
        </div>
      ))
    }
  </div>
</div>
